:root {
  --color-primary: #344966;
    --color-secundary: #B4CDED;
    --color-background: #0D1821;
    --color-text: #F0F4EF;
}

body {
  box-sizing: border-box;
  margin: 0;
}

* {
  box-sizing: border-box;
  font-family: system-ui, -apple-system,
    /* Firefox supports this but not yet `system-ui` */
    'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
}
#content {
  max-width: 1200px;
  display: block;
  margin: 0 auto;
  margin-top: 120px;
}